.Form{
    width:400px ;
    margin: 20px auto;
    border: 1px solid rgb(241, 191, 244);
    border-radius:20 px;
    padding: 32px;
    background: white;
    box-shadow: 15px 15px 15px rgb(231, 87, 30);
}

.button{
    padding: 8px 16px;
    background: rgb(53, 59, 241);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 5px 5px 5px;
}
.actions{
    text-align: center;
    margin-top: 16px;
    color:aliceblue;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: white;
}
.button:hover{
    background-color: slateblue;
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgb(146, 162, 254);
}